h1 {
  color: rgb(210, 210, 210);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 345;
}

h2 {
  color: rgb(198, 198, 198);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 305;}

h3 {
  color: rgb(198, 198, 198);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 305;}

body {
  background-color: rgb(24, 24, 24);
  color: rgb(155, 155, 155);
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 225; /* if you want the light version */
  line-height: 1.4;
  letter-spacing: 2px;
}

p{
  text-align: center;
}

a {
  text-decoration: none;
  color: #FACC2E;
}
a:hover {
  color: #FF7A5A;
}

a:visited {
  color: #AB1212;
}

a:visited:hover {
  color: #FF7A5A;
}

.container{
  width: 700px;
  margin: 30px auto;
}

.text-center {
  text-align: center;
}

/*#head {
  width: 400px;
  margin: 10px auto;
}

#headlink {
  width: 250px;
  margin: 10px auto;
}

#headlinkb {
  width: 240px;
  margin: 10px auto;
}*/

.card {
  background: #4A4A4A;
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 3px rgba(250, 250, 250, 0.5);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .img-media {
    width: 100px;
  }
}

.img-circle {
  border-radius: 50%;
}

.img-roundc {
  border-radius: 5%;
}

.red-btn {
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

/*.card-white table img {
  /*width: 90%;*/
  /*background: #4A4A4A;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 3px rgba(250, 250, 250, 0.5);
}*/

